.display-5{
    color: #2eb8b8;
}
.lead{
    text-align: center;
}
.htmlCssJava{
    width: 200px;
    height: 100px;
}
.bootstrap{
    width: 80px;
    height: 80px;
    margin: 10px;
}
.gitHub{
    width: 80px;
    height: 80px;
}