.projectsTitle{
    color: #2eb8b8;
}
.card{
    background-color: var(--grey);
    color: #2eb8b8;
}
#button1{
    color: #2eb8b8;
    background-color: #0a2929;
    border: none;
}
.card-title{
    font-family: 'Big Shoulders Text', cursive;
}
.card-text{
    font-family: 'Big Shoulders Display' cursive;
}